.logo {
    height: 200px;
    width: 200px;
    padding-left: 6rem;
}

#navbar {
    margin: 0px;
    padding: 0;
}

.flex-even {
    display: flex;
    justify-content: space-around;
}

.flex-even a {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.red-text {
    color: #982a1c !important;
}

a:hover {
    color: #D76151;
    border-bottom: solid #D76151 2px;
}

.text-decoration {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #353535;
}

.grid-navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.hero-pic {
    position: relative;
}

.hero-photo {
    width: 100%;
}

.hero-content {
    position: absolute;
    background-color: #181818CC;
    color: white;
    left: 8rem;
    bottom: 16rem;
    font-size: 40px;
    padding: 2rem;
}

.green-bottom {
    background: #1E2C20;
    width: 100%;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 2rem 0 1rem 0;
}

.grid-cooking {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 6rem;
    padding-right: 6rem;
}

.grid-cooking p {
    font-weight: bold;
    font-size: 32px;
    padding-top: 1rem;
}

.overflow {
    overflow: hidden;
    display: inline-block;
}

.start-cooking {
    display: grid;
    justify-content: center;
    font-size: 64px;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.start-cooking-photos {
    height: 25.125rem;
    width: 100%;
    border-radius: 10px;
    display: block;
}

.start-cooking-photos:hover {
    transform: scale(1.1);
}

.new-arrivals {
    font-size: 64px;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.new-arrivals-picture {
    height: 632px;
    width: 805px;
    padding-bottom: 2rem;
}

.new-arrivals-picture:hover {
    filter: brightness(80%);
}

.new-arrivals-flex {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 6rem 0 6rem;
}

.reviews-flex {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 6rem 0 6rem;
}

.color {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid black;
    display: inline-block;
    margin-right: 1rem;
}

.color2 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: darkorange;
    display: inline-block;
    margin-right: 1rem;
}

.color3 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: gold;
    display: inline-block;
    margin-right: 1rem;
}

.color4 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block;
}

.container-fluid {
    padding: 2rem 6rem 6rem 6rem;
    margin: 0;
}

.btn {
    border: 2px solid black;
    border-radius: 0;
}

.best-sellers-content button:hover{
    background-color: #1E2C20;
    color: white;

}

.best-sellers {
    border-radius: 10px;
    border: 1px solid #000000;
    width: 497px;
    height: 757px;
}

.best-sellers-header {
    font-size: 64px;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.best-sellers-photos {
    width: 449px;
    height: 338px;
    border-radius: 10px 10px 10px 10px;
    padding: 2rem 1rem 2rem 1rem;
}

.best-sellers-content {
    padding: 0 2rem 0 2rem;
}

.button {
    margin-top: 4rem;
}

.card-height {
    width: 100%;
    height: 664.751px;
    object-fit: cover;
}

.card-hero {
    border-radius: 10px;
    background: rgba(18, 18, 18, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 8rem;
    left: 4rem;
    height: 345px;
    width: 426px;
    padding: 73px 28px;
    color: white;
}

.card {
    position: relative;
    margin-bottom: 6rem;
    border-radius: 20px;
}

.reviews {
    font-size: 64px;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.centered-name {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: rgb(30, 44, 32);
    padding: 6rem 6rem 6rem 6rem;
}

.footer-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer p {
    color: white;
}

.footer-bold {
    font-weight: bolder;
    font-size: 20px;
}

.icon-size {
    padding-right: 1rem;
    padding-left: 1rem;
}

.btn-search {
    border: 2px solid white;
    background-color: #1E2C20;
    color: white;
    width: 20rem;
}

.no-margin {
    margin-right: 5px;
    border-radius: 0%;
    font-size: 12px;
}

.icon-area {
    margin-top: 1rem;
    background-color: white;
}

@media (max-width: 500px) {

    .grid-cooking {
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }

    .start-cooking-photos {
        height: 16rem;
    }

    .hero-content {
        left: 2rem;
        bottom: 4rem;
        font-size: 20px;
        padding: 1rem;
    }

    .hero-content p {
        margin-bottom: 0;
    }

    .logo {
        height: 10rem;
        width: 10rem;
        display: flex;
        justify-content: end;
    }

    .new-arrivals-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 2rem;
    }

    .new-arrivals-picture {
        width: 100%;
        height: 20rem;
    }

    .best-sellers {
        width: 100%;
        height: 60rem;
        padding: 0;
    }

    .best-sellers-content {
        width: 100%;
        height: 20rem;
    }

    .card-hero {
        top: 4rem;
        left: 1rem;
        height: 20rem;
        width: 90%;
        border-radius: 10%;
    }

    .card {
        border-radius: 10%;
    }

    .reviews-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .footer-grid {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto;
    }

}