.logo {
    height: auto;
    width: 8rem;
}

.flex-even {
    display: flex;
    justify-content: center;
}

.grid-cooking {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);

}

.start-cooking-photos {
    height: 402px;
    width: 379px;
}

.new-arrivals {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 24px;
    height: 402px;
    width: 379px;
}

.new-arrivals-flex {
    display: flex;
    justify-content: center;
}

.best-sellers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.best-sellers {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 24px;
}

.card-height1 {
    width: 531px;
    height: 664.751px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/images\ for\ use\ on\ website/Reviews1.jpg);
}

.card-hero1 {
    border-radius: 10px;
    background: rgba(18, 18, 18, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 345px;
    padding: 73px 28px;
}

.card-height2 {
    width: 531px;
    height: 664.751px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/images\ for\ use\ on\ website/Reviews2.jpg);
}

.card-hero2 {
    border-radius: 10px;
    background: rgba(18, 18, 18, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 345px;
    padding: 73px 28px;
}

.card-height3 {
    width: 531px;
    height: 664.751px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/images\ for\ use\ on\ website/Reviews3.jpg);
}

.card-hero3 {
    border-radius: 10px;
    background: rgba(18, 18, 18, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 345px;
    padding: 73px 28px;
}